
<!DOCTYPE HTML>
<html lang="de-de" dir="ltr" class="uk-height-1-1 tm-error">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404 - Seite nicht gefunden</title>
<link rel="apple-touch-icon-precomposed" href="/templates/fit-spot/apple_touch_icon.png">
<link rel="stylesheet" href="/media/template/gzip.php?theme-e8282156.css">
</head>

<body class="uk-height-1-1 uk-vertical-align uk-text-center body-background-error">
    
	<div class="uk-width-large-1-1 uk-vertical-align-middle" style="min-height: 80%;">

        <div class="logo-error"></div>
        
        
    		<h1 class="tm-error-headline">404</h1>
    		<h2 class="uk-h3 uk-text-muted">Seite nicht gefunden</h2>
        
	<!--	<p></p>-->
    <div class="uk-text-center uk-flex uk-flex-center uk-container-center feautures-conteiner uk-width-large-3-10 padding-bot"> 
        <a href="/index.php"><button class="btn btn-1 btn-1e">back to homepage</button></a>
    </div>
    
    <div class="uk-flex uk-container-center  uk-width-large-1-10 uk-width-small-2-10 uk-width-medium-2-10" >	
    <div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-medium-1-3">
      <a href="" target="_parent"><div class="facebook-square"></div></a>
    </div>
    <div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-medium-1-3">
      <a href="" target="_parent"><div class="twitter-square"></div></a>
  	</div>
  	<div class="uk-width-large-1-3 uk-width-small-1-3 uk-width-medium-1-3">
      <a href="" target="_parent"><div class="youtube-square"></div></a>
  	</div>
</div>
        
	</div>

</body>
</html>